@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #454949;
}

.nav-collapsed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: rgb(37, 37, 37);
  border-bottom-right-radius: 15%;
  box-shadow: 0 0 3px black;
  .nav-line {
    width: 70%;
    background: aliceblue;
    height: 7%;
    margin: 0 auto 15% auto;
    border-radius: 2px;
  }
  .nav-line:first-of-type {
    margin-top: 24%;
  }
}

.nav-expanded {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 175px;
  background: rgb(37, 37, 37);
  text-align: center;
  padding: 0 0 5px 0;
  border-bottom-right-radius: 5px;
  z-index: 4;
  box-shadow: 0 0 3px black;
  .nav-logo {
    height: 36px;
    position: relative;
    .nav-logo-a {
      position: absolute;
      top: 2px;
      left: 30%;
      font-size: 9px;
    }
    .nav-logo-b {
      position: absolute;
      top: 4px;
      left: 32%;
      font-size: 18px;
    }
    .nav-logo-c {
      position: absolute;
      top: 19px;
      font-size: 12px;
      left: 30%;
    }
  }
  hr {
    border-color: aliceblue;
    margin: 0;
  }
  button {
    background: none;
    border: none;
    color: aliceblue;
    width: 100%;
  }
  button:hover {
    background:#45494970;
  }
  .nav-user-image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    margin-bottom: 2px;
  }
  .nav-username {
    font-style: italic;
    font-size: 0.7rem;
    margin: 0;
    color: rgb(182, 188, 192);
  }
}

.welcome-buttons {
  width: 400px;
  margin: 0 auto;
  padding-top: 35vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: aliceblue;
  button {
    background: rgb(37, 37, 37);
    color: aliceblue;
    width: 100px;
    font-size: 20px;
  }
}

.welcome-signout {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  background: none;
  border: none;
  color: aliceblue;
}

.welcome-title {
  position: fixed;
  left: 5vw;
  bottom: 20vh;
  color: aliceblue;
  text-shadow: 6px 6px black;
  h1, h2, h3 {
    padding: 0;
    margin: 0;
  }
  h1 {
    position: absolute;
    top: -161px;
    left: 25px;
    font-size: 150px;
  }
  h2 {
    position: absolute;
    top: -42px;
    font-size: 100px;
  }
  h3 {
    position: absolute;
    top: -188px;
    font-size: 75px;
  }
}

.page-header {
  font-size: 10rem;
  color: aliceblue;
  text-shadow: 8px 8px black;
}

.question-container, .games-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px calc((100% - 1200px)/3);
  justify-content: space-between;
}

.g-card {
  background: aliceblue;
  width: 300px;
  min-width: 300px;
  min-height: 3.5rem;
  height: auto;
  padding: 5px 0 0 0;
  margin-bottom: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: inset 0 0 3px black;
  cursor: pointer;
  .g-card-name {
    margin: 0;
    padding: 0 10px 5px 10px;
    font-weight: bolder;
  }
  .g-card-location {
    margin: 0;
    padding: 0 10px 5px 10px;
    font-style: italic;
    font-size: 0.7rem;
  }
  .g-card-tags {
    float: right;
    width: auto;
    align-content: center;
    margin: 0 6px;
    padding: 0;
    text-align: right;
  }
  .g-status {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 3px 6px;
    box-shadow: inset 0 0 3px #454949;
    width: auto;
    margin: 0 2px;
  }
  .g-card-infobox {
    font-size: 0.7rem;
    margin: 4px 2px 0 2px;
  }
}
.g-card:last-of-type {
  margin-right: auto;
}


.q-card {
  background: aliceblue;
  color: black;
  width: 300px;
  min-width: 300px;
  min-height: 58px;
  height: auto;
  padding: 5px 0 0 0;
  margin-bottom: auto;
  max-height: 3rem;
  overflow: hidden;
  transition: max-height 1s;
  border-radius: 5px;
  box-shadow: inset 0 0 3px black;
  cursor: pointer;
  .q-card-text {
    margin: 0;
    padding: 0 10px 5px 10px;
  }
  .q-card-tags {
    float: right;
    width: auto;
    align-content: center;
    margin: 0 6px;
    padding: 0;
    text-align: right;
  }
  .q-category, .q-status {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 3px 6px;
    box-shadow: inset 0 0 3px #454949;
    width: auto;
    margin: 0 2px;
  }
  .q-timestamp {
    font-size: 0.7rem;
    margin: 4px 2px 0 2px;
  }
}
.q-card:last-of-type {
  margin-right: auto;
}
.q-card:hover {
  max-height: 200px;
}

.status-unused {
  background: #b0cccc;
}
.status-open, .status-live {
  background: #82e782;
}
.status-closed {
  background: #e67c7c;
}


.question-details {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  color: aliceblue;
  .qd-info {
    width: 90%;
    h2 {
      padding-top: 5px;
      margin-bottom: 5px;
    }
    hr {
      border: 2px solid aliceblue;
      opacity: 60%;
      padding: 0;
      margin: 0;
    }
    h4 {
      padding: 5px 10px;
    }
    .qd-image {
      display: block;
      max-height: 300px;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 0 0 3px black;
      margin: 0 auto;
    }
  }
  .qd-buttons {
    color: black;
    position: relative;
    height: 90vh;
    text-align: center;
    width: 200px;
    .qd-category, .qd-status, .qd-return {
      border-radius: 5px;
      margin: 5px 0;
      font-size: 1rem;
      padding: 5px 10px;
      width: 100%;
      min-height: 36px;
      box-shadow: 0 0 5px black;
      align-content: center;
    }
    .qd-category {
      display: flex;
      padding: 0;
      .qd-category-name {
        padding: 5px;
        text-align: center;
        width: 100%;
        align-content: center;
      }
      .qd-category-toggle {
        background: none;
        border: none;
        border-left: 2px solid black;
        margin: 0 0 0 auto;
        padding: 0 10px;
        font-size: 1rem;
      }
      .qd-category-toggle:hover {
        background:#454949;
        color: aliceblue;
        border-radius: 0 4px 4px 0;
      }
      .qd-category-toggle:active {
        box-shadow: inset 0 0 2px black;
      }
    }
    .qd-return {
      border: none;
      margin-top: 30px;
    }
    .qd-return:hover {
      background: #dd0d0d;
      color: aliceblue;
    }
    .qd-return:hover:before {
      content: "↶ ";
    }
    .qd-return:active {
      box-shadow: inset 0 0 3px black;
      border: 1px solid black;
    }
    .qd-timestamp {
      color: aliceblue;
      font-size: 0.8rem;
    }
    .qd-host-tools {
      position: absolute;
      width: 100%;
      bottom: 0px;
      right: 0px;
      button {
        display: block;
        border-radius: 5px;
        margin: 5px 0;
        font-size: 1.2rem;
        padding: 5px 10px;
        width: 100%;
      }
    }
  }
}

.category-menu {
  position: absolute;
  top: 38px;
  right: 0px;
  background: #353939;
  color: aliceblue;
  width: 80%;
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  margin: 0 0 0 20%;
  cursor: default;
  z-index: 3;
  text-align: center;
  .category-item {
    display: block;
    padding: 1px 0;
    border-radius: 5px;
    background: none;
    border: none;
    color: aliceblue;
    width: 100%;
  }
  button:hover {
    background: black;
  }
}

.game-display {
  color: aliceblue;
  width: 100%;
  .gd-header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    gap: 40px;
    align-items: last baseline;
    .gd-title-box {
      flex: 1;
      max-width: calc(100% - 300px - 40px);
      h1, h2 {
        text-shadow: 4px 4px black;
      }
      h1 {
        font-size: 4rem;
        margin: 0;
        display: inline-block;
      }
      h2 {
        font-size: 2rem;
        font-style: italic;
      }
      span {
        position: relative;
      }
      .gd-game-live {
        position: absolute;
        display: inline-block;
        top: -2.1rem;
        right: -90px;
        font-size: 1.3rem;
        color: black;
        display: inline-block;
        border-radius: 5px;
        padding: 3px 10px;
        box-shadow: inset 0 0 5px black;
        border: 1px solid black;
        width: auto;
        margin: 0 2px;
      }
    }
    .gd-host-tools {
      display: flex;
      width: 300px;
      div {
        width: 50%;
      }
      button {
        display: block;
        border-radius: 5px;
        margin: 5px;
        font-size: 1rem;
        padding: 5px 10px;
        width: calc(100% - 5px);
        min-height: 36px;
        box-shadow: 0 0 5px black;
        align-content: center;
      }
    }
  }
  .gd-container {
    display: flex;
    .gd-unused, .gd-open-host, .gd-open-player, .gd-closed, .gd-released {
      border-left: 2px solid aliceblue;
      padding: 0 10px;
      margin: 10px 0 0 0;
      height: 78vh;
      h3 {
        width: 100%;
        text-align: center;
        text-shadow: 3px 3px black;
      }
      .gd-card-container {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: center;
        .q-card:last-of-type {
          margin: 0;
        }
      }
    }
    .gd-unused {
      min-width: 330px;
      flex: 1;
    }
    .gd-open-host {
      width: 330px;
    }
    .gd-open-player {
      flex: 1;
      min-width: 330px;
      h2 {
        width: 100%;
        text-align: center;
      }
      .gd-open-tags {
        float: right;
        width: auto;
        align-content: center;
        margin: 0 6px;
        padding: 5px 0 0 0;
        text-align: right;
      }
      .gd-open-category, .gd-open-status {
        display: inline-block;
        border-radius: 5px;
        font-size: 1rem;
        padding: 5px 10px;
        box-shadow: inset 0 0 3px black;
        width: auto;
        margin: 0 2px;
        color: black;
      }
      hr {
        width: calc(100% - 10px);
        margin: 10px auto;
      }
      .gd-open-question {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 5px;
      }
      .gd-image {
        display: block;
        max-height: 300px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 3px black;
        margin: 0 auto;
      }
    }
    .gd-closed {
      width: 330px;
    }
    .gd-released {
      border-right: 2px solid aliceblue;
      margin-top: 10px;
      padding: 0 10px;
      width: 330px;
    }
  }
}
