@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --main-color-1: #454949;
  --btn-shadow-up: inset 0 0 5px black, inset 2px 2px 5px 0 #e5e9e975, 2px 2px 3px black;
  --btn-shadow-down: inset 0px 0px 7px black, inset 2px 2px 7px 0 #e5e9e975, 1px 1px 2px black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color-1);
}

.nav-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  padding: 0;
  margin: 0;
  .nav-collapsed {
    position: relative;
    width: 50px;
    height: 50px;
    background: rgb(37, 37, 37);
    border-bottom-right-radius: 15%;
    box-shadow: 0 0 3px 2px black;
    padding-top: 13px;
    .nav-line {
      width: 35px;
      background: aliceblue;
      height: 4px;
      margin: 0 auto 15% auto;
      border-radius: 2px;
    }
  }
  .nav-expanded {
    position: relative;
    width: 175px;
    background: rgb(37, 37, 37);
    text-align: center;
    padding: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    z-index: 4;
    box-shadow: 0 0 3px 2px black;
    .nav-logo {
      height: 36px;
      position: relative;
      .nav-logo-a {
        position: absolute;
        top: 2px;
        left: 30%;
        font-size: 9px;
      }
      .nav-logo-b {
        position: absolute;
        top: 4px;
        left: 32%;
        font-size: 18px;
      }
      .nav-logo-c {
        position: absolute;
        top: 19px;
        font-size: 12px;
        left: 30%;
      }
    }
    hr {
      border-color: aliceblue;
      margin: 0;
    }
    button {
      background: none;
      border: none;
      color: aliceblue;
      width: 100%;
    }
    button:hover {
      background:#45494970;
    }
    .nav-user-image {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 5px;
      margin-bottom: 2px;
    }
    .nav-username {
      font-style: italic;
      font-size: 0.7rem;
      margin: 0;
      color: rgb(182, 188, 192);
    }
  }
  .host-tag {
    position: relative;
    background: red;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 0;
    width: 40px;
    height: 20px;
    text-align: center;
    border-radius: 0 0 5px 0;
    z-index: -1;
    box-shadow: 0 0 3px 1px black;
    color: var(--main-color-1);
  }
}


.welcome-buttons {
  width: 400px;
  margin: 0 auto;
  padding-top: 35vh;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: aliceblue;
  text-align: center;
  button {
    background: rgb(37, 37, 37);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    width: 100px;
    font-size: 20px;
    box-shadow: var(--btn-shadow-up);
  }
  button:hover {
    background: black;
  }
  button:active {
    box-shadow: var(--btn-shadow-down);
  }
}

.welcome-signout {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  color: aliceblue;
  text-align: center;
  button {
    border: none;
    background: none;
    color: inherit;
  }
  button:hover {
    color:#b5b9b9;
  }
  .signout-user-image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    margin-bottom: 2px;
  }
  .signout-username {
    font-style: italic;
    font-size: 0.7rem;
    margin: 0;
    color: rgb(182, 188, 192);
  }
}

.welcome-title {
  position: fixed;
  left: 5vw;
  bottom: 20vh;
  color: aliceblue;
  text-shadow: 6px 6px black;
  h1, h2, h3 {
    padding: 0;
    margin: 0;
  }
  h1 {
    position: absolute;
    top: -161px;
    left: 25px;
    font-size: 150px;
  }
  h2 {
    position: absolute;
    top: -42px;
    font-size: 100px;
  }
  h3 {
    position: absolute;
    top: -188px;
    font-size: 75px;
  }
}

.page-header {
  font-size: 10rem;
  color: aliceblue;
  text-shadow: 8px 8px black;
}

.question-container, .games-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px calc((100% - 1200px)/3);
  justify-content: space-between;
}

.g-card {
  background: aliceblue;
  width: 300px;
  min-width: 300px;
  min-height: 3.5rem;
  height: auto;
  padding: 5px 0 0 0;
  margin-bottom: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--btn-shadow-up);
  cursor: pointer;
  .g-card-name {
    margin: 0;
    padding: 0 10px 5px 10px;
    font-weight: bolder;
  }
  .g-card-location {
    margin: 0;
    padding: 0 10px 5px 10px;
    font-style: italic;
    font-size: 0.7rem;
  }
  .g-card-tags {
    float: right;
    width: auto;
    align-content: center;
    margin: 0 6px;
    padding: 0;
    text-align: right;
  }
  .g-status {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 3px 6px;
    box-shadow: inset 0 0 3px var(--main-color-1);
    width: auto;
    margin: 0 2px;
    color: black;
  }
  .g-card-infobox {
    font-size: 0.7rem;
    margin: 4px 2px 0 2px;
  }
}
.g-card:last-of-type {
  margin-right: auto;
}
.g-card:active {
  box-shadow: var(--btn-shadow-down);
}

.q-card {
  background: aliceblue;
  color: black;
  width: 300px;
  min-width: 300px;
  min-height: 58px;
  height: auto;
  padding: 5px 0 0 0;
  margin-bottom: auto;
  max-height: 3rem;
  overflow: hidden;
  transition: max-height 1s;
  border-radius: 5px;
  box-shadow: var(--btn-shadow-up);
  cursor: pointer;
  .q-card-text {
    margin: 0;
    padding: 0 10px 5px 10px;
  }
  .q-card-tags {
    float: right;
    width: auto;
    align-content: center;
    margin: 0 6px;
    padding: 0;
    text-align: right;
  }
  .q-category, .q-status {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 3px 6px;
    box-shadow: inset 0 0 3px var(--main-color-1);
    width: auto;
    margin: 0 2px;
    color: black;
  }
  .q-timestamp {
    font-size: 0.7rem;
    margin: 4px 2px 0 2px;
  }
}
.q-card:last-of-type {
  margin-right: auto;
}
.q-card:hover {
  max-height: 200px;
}
.q-card:active {
  box-shadow: var(--btn-shadow-down);
}

.status-unused {
  background: #b5b9b9;
}
.status-open, .status-live {
  background: #82e782;
}
.status-closed {
  background: #e67c7c;
}
.status-released {
  background: aliceblue;
}


.question-details {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  color: aliceblue;
  .qd-info {
    width: 90%;
    h2 {
      padding-top: 5px;
      margin-bottom: 5px;
    }
    hr {
      border: 2px solid aliceblue;
      opacity: 60%;
      padding: 0;
      margin: 0;
    }
    h4 {
      padding: 5px 10px;
    }
    .qd-image {
      display: block;
      max-height: 300px;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 0 0 3px black;
      margin: 0 auto;
    }
  }
  .qd-buttons {
    color: black;
    position: relative;
    height: 90vh;
    text-align: center;
    width: 200px;
    .qd-btn {
      border: none;
      border-radius: 5px;
      margin: 5px 0;
      font-size: 1rem;
      padding: 5px 10px;
      width: 100%;
      min-height: 36px;
      box-shadow: var(--btn-shadow-up);
      align-content: center;
    }
    .category-dropdown {
      .qd-category {
        display: flex;
        padding: 0;
        .qd-category-name {
          padding: 5px;
          text-align: center;
          width: 100%;
          align-content: center;
          border-radius: 4px 0 0 4px;
          box-shadow: var(--btn-shadow-up);
          /* text-shadow: 0 0 3px aliceblue; */
        }
        .qd-category-toggle {
          background: none;
          border: none;
          border-radius: 0 4px 4px 0;
          margin: 0 0 0 auto;
          padding: 0 10px;
          font-size: 1rem;
          box-shadow: var(--btn-shadow-up);
        }
        .qd-category-toggle:hover {
          background: black;
          color: aliceblue;
          border-radius: 0 4px 4px 0;
        }
        .qd-category-toggle:active {
          box-shadow: var(--btn-shadow-down);
        }
      }
      .category-menu {
        position: absolute;
        top: 38px;
        right: 0px;
        background: rgb(37, 37, 37);;
        color: aliceblue;
        width: 80%;
        box-shadow: var(--btn-shadow-up);
        border-radius: 5px;
        margin: 0 0 0 20%;
        cursor: default;
        z-index: 3;
        text-align: center;
        .category-item {
          display: block;
          padding: 1px 0;
          background: none;
          border: none;
          color: aliceblue;
          width: 100%;
        }
        button:hover {
          background: #45494970;
        }
        button:first-of-type:hover {
          border-radius: 5px 5px 0px 0px;
        }
        button:last-of-type:hover {
          border-radius: 0px 0px 5px 5px;
        }
      }
    }

    .qd-status, .qd-game-status {
      border: 1px solid black;
    }

    .qd-game-status::before {
      content: "in "
    }
    .qd-game-status:hover::before {
      content: "View ";
    }
    .qd-game-status:hover {
      background: black;
      color: aliceblue;
    }
    .qd-game-status:active {
      box-shadow: var(--btn-shadow-down);
    }

    .game-dropdown {
      hr {
        margin: 3px 0;
        border: 1px solid black;
      }
      p {
        margin: 0;
        background: var(--main-color-1);
        width: 100%;
        color: aliceblue;
      }
      .assigned-list {
        color: aliceblue;
        width: 100%;
        position: relative;
        max-height: 220px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--main-color-1) black;
        .assigned-game {
          position: relative;
          width: 100%;
          padding: 5px;
          border-radius: 5px;
          button {
            background: none;
            border: none;
            color: inherit;
            width: 100%;
          }
          .gq-remove {
            position: absolute;
            top: 3px;
            right: 3px;
            text-align: right;
            width: auto;
            font-size: 0.8rem;
          }
          .gq-remove:hover {
            color: rgb(255, 53, 53);
          }
          .qd-gq-status {
            text-align: left;
            font-size: 0.8rem;
            .status-tag {
              box-shadow: var(--btn-shadow-up);
              border: 1px solid black;
              border-radius: 5px;
              padding: 1px 6px;
              color: black;
            }
          }
          .qd-gq-game {
            margin: 0 0 0 auto;
            width: 85%;
            font-style: italic;
            text-align: left;
          }
        }
        .assigned-game:hover {
          background: #353939;
          box-shadow: inset 0 0 3px black;
        }
      }
      .dropdown-element {
        position: relative;
        .qd-assign-game {
          display: flex;
          padding: 0;
          background: aliceblue;
          .qd-game-name {
            padding: 5px;
            text-align: center;
            width: 100%;
            align-content: center;
            border-radius: 4px 0 0 4px;
            box-shadow: var(--btn-shadow-up);
          }
          .qd-game-toggle {
            background: none;
            border: none;
            border-radius: 0 4px 4px 0;
            margin: 0 0 0 auto;
            padding: 0 10px;
            font-size: 1rem;
            box-shadow: var(--btn-shadow-up);
          }
          .qd-game-toggle:hover {
            background: black;
            color: aliceblue;
            border-radius: 0 4px 4px 0;
          }
          .qd-game-toggle:active {
            box-shadow: var(--btn-shadow-down);
          }
        }
        .assign-game-menu {
          position: absolute;
          top: 34px;
          right: 0px;
          background: rgb(37, 37, 37);
          color: aliceblue;
          width: 85%;
          box-shadow: var(--btn-shadow-up);
          border-radius: 5px;
          margin: 0 0 0 20%;
          cursor: default;
          z-index: 3;
          text-align: center;
          max-height: 200px;
          overflow-y: auto;
          scrollbar-width: none;
          .sticky-search {
            position: sticky;
            width: 100%;
            padding: 0 5px;
            top: 0px;
            margin-bottom: 5px;
          }
          .sticky-search:active {
            border: none;
          }
          .game-item {
            display: block;
            padding: 1px 5px;
            background: none;
            border: none;
            color: aliceblue;
            width: 100%;
          }
          button:hover {
            background: #45494970;
          }
          button:last-of-type:hover {
            border-radius: 0px 0px 5px 5px;
          }
        }
      }
    }

    .qd-return {
      border: none;
      margin-top: 30px;
    }
    .qd-return:hover {
      background: #dd0d0d;
      color: aliceblue;
    }
    .qd-return:hover:before {
      content: "↶ ";
    }
    .qd-return:active {
      box-shadow: inset 0 0 3px black;
      border: 1px solid black;
    }
    .qd-timestamp {
      color: aliceblue;
      font-size: 0.8rem;
    }
    .qd-host-tools {
      position: absolute;
      width: 100%;
      bottom: 0px;
      right: 0px;
      button {
        display: block;
        border-radius: 5px;
        margin: 5px 0;
        font-size: 1.2rem;
        padding: 5px 10px;
        width: 100%;
        box-shadow: var(--btn-shadow-up);
      }
      button:active {
        box-shadow: var(--btn-shadow-down);
      }
    }
  }
}


.game-display {
  color: aliceblue;
  width: 100%;
  height: 96vh;
  display: flex;
  flex-flow: column;
  .gd-header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
    .gd-title-box {
      flex: 1;
      /* max-width: calc(100% - 300px - 40px); */
      h1, h2 {
        text-shadow: 4px 4px black;
      }
      h1 {
        font-size: 4rem;
        margin: 0;
        display: inline-block;
      }
      h2 {
        font-size: 2rem;
        font-style: italic;
      }
    }
    .gd-header-buttons {
      display: flex;
      gap: 5px;
      width: auto;
      div {
        width: 150px;
      }
      .gd-game-status {
        display: block;
        position: relative;
        font-size: 1.2rem;
        color: black;
        border-radius: 5px;
        padding: 3px 10px;
        box-shadow: var(--btn-shadow-up);
        border: 1px solid black;
        width: 100%;
        margin-bottom: 5px;
        height: 36px;
        pointer-events: none;
        p {
          position: absolute;
          margin: 0;
          bottom: 0px;
          right: 0px;
          font-size: 0.6rem;
          background-color: #35393990;
          padding: 1px 3px;
          border-radius: 5px 1px 5px 1px;
          color: rgba(240, 248, 255, 0.803);
          text-shadow: 1px 1px 1px black;
        }
      }
      button {
        display: block;
        border-radius: 5px;
        border: none;
        margin-bottom: 5px;
        font-size: 1rem;
        padding: 5px 10px;
        width: 100%;
        min-height: 36px;
        box-shadow: var(--btn-shadow-up);
        align-content: center;
        background-color: #353939;
        color: aliceblue;
      }
      button:active {
        box-shadow: var(--btn-shadow-down);
        border: 1px solid #353939;
      }
      button:hover {
        background: black;
      }
      .gd-status-toggle-live:hover {
        background-color: #82e782;
        color: black;
      }
      .gd-status-toggle-closed:hover {
        background-color: #e67c7c;
        color: black;
      }
      .gd-status-reset:hover {
        background-color: #b5b9b9;
        color: black;
      }
    }
  }
  .gd-container {
    display: flex;
    flex: 1;
    height: 100%;
    .gd-unused, .gd-open-host, .gd-open-player, .gd-closed, .gd-released {
      position: relative;
      border-left: 2px solid aliceblue;
      padding: 0 5px;
      margin: 10px 0 0 0;
      height: 76vh;
      h3 {
        width: 100%;
        text-align: center;
        text-shadow: 3px 3px black;
        margin: 0;
      }
      .gd-card-container {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: center;
        width: 100%;
        max-height: calc(100% - 3rem);
        overflow-y: auto;
        scrollbar-width: none;
        scrollbar-color: #00000050 var(--main-color-1);
        .q-card:first-of-type {
          margin-top: 10px;
        }
        .q-card:last-of-type {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .gd-scroll-fade {
        height: calc(100% - 48px);
        width: 100%;
        position: absolute;
        top: 32px;
        left: 0;
        box-shadow: inset 0 30px 5px -20px var(--main-color-1), inset 0 -30px 8px -20px var(--main-color-1);
        pointer-events: none;
      }
      .gd-fade-captive {
        height: 99%;
      }
    }
    .gd-unused {
      min-width: 330px;
      flex: 1;
    }
    .gd-open-host {
      width: 330px;
    }
    .gd-open-player {
      flex: 1;
      min-width: 330px;
      h2 {
        width: 100%;
        text-align: center;
      }
      .gd-open-tags {
        float: right;
        width: auto;
        align-content: center;
        margin: 0 6px;
        padding: 5px 0 0 0;
        text-align: right;
      }
      .gd-open-category, .gd-open-status {
        display: inline-block;
        border-radius: 5px;
        font-size: 1rem;
        padding: 5px 10px;
        box-shadow: inset 0 0 3px black;
        width: auto;
        margin: 0 2px;
        color: black;
      }
      hr {
        width: calc(100% - 10px);
        margin: 10px auto;
      }
      .gd-open-question {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-top: 5px;
      }
      .gd-image {
        display: block;
        max-height: 300px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 3px black;
        margin: 0 auto;
      }
    }
    .gd-closed {
      width: 330px;
    }
    .gd-released {
      border-right: 2px solid aliceblue;
      margin-top: 10px;
      padding: 0 5px;
      width: 330px;
    }
  }
}
